body {
    background-color: grey;
    font-family: 'VT323', monospace;
    padding-bottom: 5rem;
    color: white;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}

main {
    padding: 0 20rem 0 20rem;
}

h1 {
    text-align: center;
    font-size: 3rem;
    margin: 7rem 5rem 3rem;
    color: rgb(0, 0, 0);
    text-shadow: 5px 5px 10px #ffffff;
    overflow: hidden;
}

#types-filter,
#generation-filter {
    display: none;
}

/* navbar */

.navbar {
    width: 100%;
    color: #ffffff;
    border-radius: 0 0 2rem 2rem;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 2.5rem;
    top: 0;
    position: fixed;
    z-index: 998;
}

.navbar a {
    margin-left: 2rem;
}

.theme-choice {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-left: 12rem;
}
.theme-choice img {
    cursor: pointer;
    width: 2rem;
    height: 2rem;
}

.theme-blue-linear {
    background: linear-gradient(10deg, #0f0f0f, #3e1fe9, black);
}

.theme-blue-bgc {
    background-color: rgb(55, 55, 224);
    opacity: 0.85;
}

.theme-red-linear {
    background: linear-gradient(10deg, #0f0f0f, #a71010, black);
}

.theme-red-bgc {
    background-color: rgb(165, 39, 39);
    opacity: 0.85;
}

.theme-green-linear {
    background: linear-gradient(10deg, #0f0f0f, #10a710, black);
}

.theme-green-bgc {
    background-color: rgb(58, 184, 58);
    opacity: 0.85;
}

.search-bar {
    margin-right: 1rem;
    font-size: 2rem;
}

.search-bar i {
    color: #fff;
    font-size: 1.5rem;
}

#search-input {
    border-radius: 2rem;
    padding-left: 1rem;
    text-align: center;
    color: white;
}

label {
    font-size: 2rem;
    margin-right: 1rem;
}

.filter-bar {
    position: fixed;
    z-index: 999;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: 1.5rem;
    margin-left : 1rem;
    gap: 1rem;
}

.filter {
    display: flex;
    border-radius: 2rem;
    align-items: center;
    color: #ffffff;
    padding: 0.5rem 1rem;
}

.filter-gap {
    gap : 8rem;
}

select {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    text-align: center;
}

option {
    cursor: pointer;
    text-align: center;
}

/* display cards */

.display {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    margin: 2rem;
    justify-content: center;
}

.pokemon-title {
    font-size: 2rem;
    margin: 1rem;
    text-align: center;
    color: rgb(255, 255, 255);
    text-shadow: 5px 5px 10px #000000;
}

.pokemon-card {
    width: 20rem;
    height: 15rem;
    position: relative;
    border-radius: 0.5rem;
    box-shadow: 5px 5px 10px #edbc06;
    overflow: hidden;
    transition: all 0.5s ease;
    align-items: center;
    cursor: pointer;
    border: 0.2rem solid #000;
}

.card-image {
    display: flex;
    justify-content: center;
}

.pokemon-card img {
    transition: all 1s ease;
}

.pokemon-card::after {
    content: "";
    position: absolute;
    top: -60%;
    left: -60%;
    width: 20%;
    height: 200%;
    opacity: 0;
    transform: rotate(30deg);
    background: linear-gradient(to right, rgba(255, 255, 255, 0.13) 0%, rgba(255, 255, 255, 0.13) 77%, rgba(255, 255, 255, 0.5) 92%, rgba(255, 255, 255, 0) 100%);
    transition: left 1.5s ease, top 1.5s ease, opacity 1.5s ease;
}

.pokemon-card:hover::after {
    opacity: 1;
    left: 150%;
}

#hover-image {
    width: 10rem;
    height: 10rem;
}
.pokemon-card:hover #hover-image {
    transform: translateY(-10px);
}


/* bubble */

.bubble {
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.2rem solid #000;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 1);
    height: auto;
    width: 80vw;
    border-radius: 1rem;
    z-index: 1000;
}

.close-button {
    cursor: pointer;
    font-size: 2rem;
    position: fixed;
    top: 0;
    right: 0;
    margin: 1.5rem;
    z-index: 1001;
}

@keyframes float {
    0%, 100% { transform: translateY(0); }
    50% { transform: translateY(-10px); }
}


.bubble:hover #image {
    animation: float 3s infinite;
}

/* stats bubble */

.info {
    display: flex;
    width: 100%;
    height: 100%;
    overflow: auto;
    background: url('../image/bb1.jpg');
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
    border-radius: 0.9rem;
}

.info-left {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-right {
    width: 70%;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem;
    font-size: 1.8rem;
    border: 0.2rem solid #000;
}

.info-header {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
}

#name {
    font-size: 3rem;
    margin-bottom: 0.5rem;
}

#types {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

#types img {
    width: 2rem;
    height: 2rem;
    border-radius: 0.4rem;
}

#generation {
    text-align: center;
    margin-top: 0.5rem;
    font-size: 2rem;
}

#stat {
    display: flex;
    margin: 1.5rem 0;
    justify-content: space-between;
    font-size: 2rem;
}

#stat p {
    margin-bottom: 0.5rem;
}

.stat-bar-details {
    width: 80%;
    background-color: #fff;
    border-radius: 0.5rem;
}

.stat-bar {
    width: 50%;
    height: 1rem;
    background-color: #000;
    border-radius: 0.5rem;
}

.stat-bar-container h4 {
    margin: 0;
    text-align: center;
}

.stat-bar-container {
    display: flex;
}

.stat-bar-container-left {
    width: 50%;
    border-right: #000 0.2rem solid;
}

.stat-bar-container-right {
    width: 50%;
    margin-left: 1rem;
}

#evolution-container {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    gap : 5rem;
}

.evolution {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#pre-evolution-name, #next-evolution-name {
    font-size: 2rem;
}

#pre-evolution-image, #next-evolution-image {
    width: 7rem;
    height: 7rem;
}

#pre-evolution-condition, #next-evolution-condition {
    font-size: 1.5rem;
    margin-top: 1rem;
    text-align: center;
}

/* footer */

.footer {
    width: 100%;
    z-index: 995;
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border-radius: 2rem 2rem 0 0;
    padding-top: 0.2rem;
}

#copyright {
    font-size: 1rem;
    color: white;
}

#about {
    cursor: pointer;
    color: white;
}

#about-bubble {
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 0.2rem solid #000;
    box-shadow: 10px 10px 15px 5px rgba(0, 0, 0, 1);
    height: 30vh;
    width: 30vw;
    border-radius: 1rem;
    z-index: 999;
    text-align: center;
    overflow: auto;
    color: white;
}

#about-bubble h2,
#about-bubble p {
    margin: 1rem;
}

.about-close-button {
    cursor: pointer;
    font-size: 1.5rem;
    position: absolute;
    top: 0;
    right: 0;
    margin: 0.5rem;
}

@media screen and (max-width: 1727px) {

    main {
        padding: 0 12rem 0 12rem;
    }
}

@media screen and (max-width: 1694px) {

    main {
        padding: 0 10rem 0 10rem;
    }
}

@media screen and (max-width: 1500px) {

    h1 {
        margin: 10rem 1rem 0;
    }

    .filter-container {
        display: flex;
        justify-content: center;
    }

    .filter-bar {
        top: 4rem;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
    }

    #evolution-container {
        gap : 2rem;
    }
}

@media screen and (max-width: 1200px) {

    .navbar {
        display: block;
        justify-content: center;
        text-align: center;
        padding: 0;
    }

    .navbar a {
        margin: 0;
    }

    .search-bar {
        margin: 0 0 0.4rem;
        display: flex;
        justify-content: center;
    }

    .search-bar i {
        display: flex;
        align-items: center;
        font-size: 1.5rem;
    }

    .theme-choice {
        margin: 0.5rem 0 0.5rem 0;
    }

    .display {
        margin: 1rem 2rem 2rem;
    }

    #search-input {
        width: 70%;
    }

    h1 {
        margin: 15rem 1rem 0;
        font-size: 2rem;
    }

    .filter-container {
        display: flex;
        justify-content: center;
    }

    .filter-bar {
        top: 8.5rem;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 0.2rem;
    }

    .filter {
        gap: 0.2rem;
    }

    .bubble {
        height: 65vh;
    }

    .info {
        flex-direction: column;
        align-items: center;
        width: 100%;
        height: 100%;
        overflow: auto;
        text-align: center;
        border-radius: 0.7rem;
    }

    .info-left {
        width: 100%;
        height: 50%;
        justify-content: center;
    }

    .info-left img {
        width: 12rem;
        height: 12rem;
    }

    .info-right {
        width: 90%;
    }

    .info-header {
        flex-direction: column;
        align-items: center;
        margin-bottom: 1rem;
    }

    #types {
        font-size: 1.8rem;
    }

    #types img {
        width: 1.5rem;
        height: 1.5rem;
    }

    #stat {
        flex-direction: column;
        align-items: center;
        margin-top: 1rem;
    }

    .stat-bar-container {
        width: 100%;
        margin-bottom: 0.5rem;
    }

    .close-button {
        margin-top: 1rem;
        margin-right: 1rem;
        color: #800404;
    }

    #about-bubble {
        height: auto;
        width: 50vw;
    }

    .about-close-button {
        font-size: 1rem;
    }
}

@media screen and (max-width: 900px) {

    main {
        padding: 0;
    }

    .stat-bar-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 2rem;
    }

    .stat-bar-container-left {
        width: 100%;
        border-right: none;
    }

    .stat-bar-container-right {
        width: 100%;
    }

    .stat-bar-details {
        width: 80%;
        margin: 0.5rem 0.5rem;
    }
    #stat-bar {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    #stat-title {
        margin-bottom: 1rem;
    }

    #pre-evolution-name, #next-evolution-name {
        font-size: 1.7rem;
    }
    
    #pre-evolution-image, #next-evolution-image {
        width: 6rem;
        height: 6rem;
    }

    #pre-evolution-condition, #next-evolution-condition {
        font-size: 1.2rem;
    }
}

@media screen and (max-width: 390px) {

    .filter:last-child {
        display: block;
        text-align: center;
    }

    h1 {
        margin: 15rem 1rem 0;
        font-size: 2rem;
    }

    #pre-evolution-name, #next-evolution-name {
        font-size: 1.5rem;
    }
    
    #pre-evolution-image, #next-evolution-image {
        width: 5rem;
        height: 5rem;
    }

    #pre-evolution-condition, #next-evolution-condition {
        font-size: 1rem;
    }
}
